KHO_API_URL=http://localhost:3000
KHO_BOT_API_TOKEN=giong-BOT_API_TOKEN-cua-kho
BANK_NAME=MB Bank
BANK_ACCOUNT=0123456789
BANK_OWNER=NGUYEN VAN A
PAYMENT_QR_BASE_URL=https://img.vietqr.io/image/MB-0123456789-compact2.png
POLL_INTERVAL_SECONDS=5
SUPPORT_USERNAME=@hotro_botnf
